/* General Styles*/
body {
    background-color: #fff;
}

h2, h3 {
    font-family: "Goudy Old Style", serif;
}

p {
    font-family: "Trebuchet MS", sans-serif;
}

.contents {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;
    grid-row-gap: 0.75em;
}

/* Header Styles*/
#header {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    width: 100%;
    background-color: #1C5253;
    color: #fff;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.heading {
    display: flex;
    flex-direction: column;
    border: 0.025em solid #fff;
    padding: 0px 15em;
    justify-content: center;
    align-items: center;
}

.fullName {
    font-family: "Goudy Old Style", serif;
    font-size: 50px;
    height: 20px
}

.jTitle {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 25px;
    height: 25px;
}

/* Sidebar Styles*/
#sidebar {
    grid-column: 1 / 2;
    grid-row-start: 2;
    background-color: #C3EB78;
    margin-left:40px;
    padding: 10px;
    display: block;
}

.photoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pp {
    display: flex;
    border-radius: 50%;
    width: 175px;
    height: 175px;
}

#icons {
    width: 20px;
    height: 20px;
    float: left;
}

.delim {
    background-color: #1C5253;
}

#sidebar p {
    position: relative;
    left: 5px;
}

#sidebar a {
    text-decoration: none;
}

/* Main Content Area Styles*/
.contents #details {
    display: block;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: beige;
    margin-right: 40px;
    padding: 20px;
}

.exclude {
    clear: both;
}

#fLeft {
    float: left;
    padding-right: 20px;
}

.delimiter {
    background-color: rgb(185, 184, 184);
    clear: both;
}

li {
    list-style-type: square;
}

#details p {
    width: 85%;
}

/* Other Styles */
.delimiter, .delim {
    height: 2px;
    margin: 8px;
}

.upTop {
    text-align: end;
    float: right;
    position: relative;
    bottom: 50px;
    right: 50px;
    background-color: #B6174B;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    font-family: "Trebuchet MS", sans-serif;
}