/* General Styles*/
body {
    background-color: #fff;
}

h2, h3 {
    font-family: "Goudy Old Style", serif;
}

p {
    font-family: "Trebuchet MS", sans-serif;
}

.contents {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;
    grid-row-gap: 10px;
}

/* Header Styles*/
#header {
    display: flex;
    flex-direction: column;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    width: 100%;
    background-color: #552244;
    color: #fff;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.heading {
    display: flex;
    flex-direction: column;
    border: 0.025em solid #F5F0EB;
    padding: 0px 250px;
    justify-content: center;
    align-items: center;
}

.fullName {
    font-family: "Goudy Old Style", serif;
    font-size: 50px;
    height: 20px
}

.jTitle {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 25px;
    height: 25px;
}

/* Sidebar Styles*/
#sidebar {
    grid-column: 1 / 2;
    grid-row-start: 2;
    background-color: #F5F0EB;
    margin-left:40px;
    padding: 10px;
    display: block;
    border-right: 0.5px solid #725b6a;
}

.photoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pp {
    display: flex;
    border-radius: 50%;
    width: 175px;
    height: 175px;
}

#icons {
    width: 20px;
    height: 20px;
    float: left;
}

.delim {
    background-color: #c0c0c0;
    margin: 8px;
}

#sidebar p {
    position: relative;
    left: 5px;
}

#sidebar a {
    text-decoration: none;
}

/* Main Content Area Styles*/
.contents #details {
    display: block;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #fff;
    margin-right: 40px;
    padding: 20px;
}

.workXP {
    width: 50%;
}

.edu {
    width: 50%;
}
#fLeft {
    float: left;
    width: 40%;
    clear: both;
}

.rightContainer {
    float: right;
    width: 60%;
}

.exclude {
    clear: both;
}

.delimiter {
    background-color: rgb(185, 184, 184);
    clear: both;
    background-color: #725b6a;
    margin: 0;
}

li {
    list-style-type: square;
}

#details p {
    width: 85%;
}

/* Other Styles */
.delimiter, .delim {
    height: 2px;
}

.upTop {
    text-align: end;
    float: right;
    position: relative;
    bottom: 50px;
    right: 50px;
    background-color: rgba(85, 34, 68, 0.90);
    color: #F5F0EB;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    font-family: "Trebuchet MS", sans-serif;
}

.fake {
    background-color: #552244;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fake img {
    height: 30%;
    width: 30%;
}

.fake a {
    text-decoration: none;
    color: #725b6a;
}